<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>
<div class="header">
<img width="100%" src="/images/princeton.jpg"/>
<table width="100%">
    <tr>
        <td><a href="/index.html">Home</a></td>
        <td><a href="/about_author.html">About Eric</a></td>
        <td><a href="/tocs/topics.html">Topics</a></td>
        <td><a href="https://services.sourcegear.com">SourceGear</a></td>
    </tr>
</table>
<hr/>
</div>
<div class="content">
{{ content }}
</div>
<div class="footer">
<hr/>
<p>{{site.copyright}}</p>
<hr/>
<p>If you are in need of contract software development services, I would appreciate your consideration of <a href="https://services.sourcegear.com">SourceGear</a>.</p>
</div>
</body>
</html>

