img[align=right] 
{
    margin: 1em 0 1em 1em;
}

pre.screen
{
    background-color: tan; 
    padding:0.15in; 
    //border-radius:12pt;
    color:black;
    font-size:9pt;
}

.class_sidebar ul {
    list-style-type:none;
    font-size: 80%;
    font-weight: normal;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.class_sidebar li {
    text-indent: 0;
}

.class_sidebar a {
    display: block;
    width: 190px;
    text-align: left;
    padding: 8px 10px 8px 10px;
    outline: none;
}

.class_sidebar a:link, .class_sidebar  a:visited 
{
    color: black;
    text-decoration:none;
}

.class_sidebar a:hover 
{
    color: gray;
    text-decoration:none;
}

.class_sidebar a:active 
{
    color: gray;
    text-decoration:none;
}

.class_body a 
{
    outline: none;
    text-decoration:underline;
    font-weight: bold;
}

.class_body a:link, .class_body a:visited 
{
    display: inline;    
    color: black;    
    background-color:transparent;    
    text-decoration:underline;
}

.class_body a:hover 
{    
    color: gray;
    background-color:none;
    text-decoration:underline;
}
    
.class_body a:active 
{
    color: gray;
    background-color:none;
    text-decoration:underline;
}

.SiteTitle {font-family: Arial, Helvetica, sans-serif; font-size:36pt}
.Tagline {font-family: Arial, Helvetica, sans-serif}
.ArticleTitle {text-decoration: none; color: black; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:16pt}
.ArticleTitleGreen {text-decoration: none; color: #669900; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:20pt}
.DayPageArticleTitle {text-decoration: none; color: black; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:12pt}
.ArticleDate {color:black; font-family: Arial, Helvetica, sans-serif; font-size:8pt;font-weight:normal}
.LeftSide {font-family: Arial, Helvetica, sans-serif; font-size:10pt}
.Copyright { color:white; font-family: Arial, Helvetica, sans-serif; font-size:7pt }
BLOCKQUOTE {font-family: Arial, Helvetica, sans-serif; font-size:10pt}
P {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
OL {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
UL {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
LI {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
TH {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
TD {font-family: Arial, Helvetica, sans-serif; font-size:11pt}
H1 {font-family:Arial,Helvetica,sans-serif}
H2 {font-family:Arial,Helvetica,sans-serif}
H3 {font-family:Arial,Helvetica,sans-serif}
H4 {font-family:Arial,Helvetica,sans-serif}
H5 {font-family:Arial,Helvetica,sans-serif}

